/* Extra large devices (large laptops and desktops) */
@media only screen and (max-width: 1200px) {
    .scroll--container:first-of-type {
        margin-right: 0px;
    }

    .scroll--container:last-of-type {
        margin-left: 0px;
    }

    .form {
        padding: 20px;
        width: 225px;
        font-size: 18px;
    }

    /* FOOTER */
    .footer ul {
        margin-right: 20px;
    }

    .footer--row img {
        height: 100px;
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 992px) {
    @-webkit-keyframes scrollGood {
        0% {
            -webkit-transform: translate3d(-25px, -20px, 0);
            transform: translate3d(-25px, -20px, 0);
        }
        100% {
            -webkit-transform: translate3d(-25px, -965px, 0);
            transform: translate3d(-25px, -965px, 0);
        }
    }
    @keyframes scrollGood {
        0% {
            -webkit-transform: translate3d(-25px, -20px, 0);
            transform: translate3d(-25px, -20px, 0);
        }
        100% {
            -webkit-transform: translate3d(-25px, -965px, 0);
            transform: translate3d(-25px, -965px, 0);
        }
    }

    @-webkit-keyframes scrollGood-2 {
        0% {
            -webkit-transform: translate3d(-25px, -20px, 0);
            transform: translate3d(-25px, -20px, 0);
        }
        100% {
            -webkit-transform: translate3d(-25px, -470px, 0);
            transform: translate3d(-25px, -470px, 0);
        }
    }
    @keyframes scrollGood-2 {
        0% {
            -webkit-transform: translate3d(-25px, -20px, 0);
            transform: translate3d(-25px, -20px, 0);
        }
        100% {
            -webkit-transform: translate3d(-25px, -470px, 0);
            transform: translate3d(-25px, -470px, 0);
        }
    }

    .scroll--container {
        width: 450px;
    }

    .scroll--frosh {
        height: 1890px;
        width: 450px;
    }

    .scroll--commencement {
        height: 900;
        width: 450px;
    }

    .scroll--fall {
        height: 900;
        width: 450px;
    }

    .header {
        font-size: 28px;
    }

    /* FOOTER */
    .footer--logo {
        display: none;
    }

    .scroll--container button {
        left: 30%;
    }

}

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 768px) {

    .form--side {
        display: none;
    }

    .form--under {
        display: flex;
        height: 275px;
        width: 500px;
        padding: 10px;
        margin: 20px 0 20px 0;
    }

    .header {
        font-size: 24px;
    }

    .footer--button a {
        font-size: 12px;
    }

    .footer ul {
        margin-right: 15px;
    }

    .footer li a {
        font-size: 12px;
    }

    .footer li b a {
        font-size: 12px;
    }

    .footer ul img {
        height: 12px;
    }

}

/* Small devices (portrait tablets and large phones */
@media only screen and (max-width: 600px) {
    .form--under {
        display: flex;
        height: 275px;
        width: 300px;
        padding: 10px;
        margin: 10px 0 10px 0;
    }

    .header {
        font-size: 14px;
    }

    @-webkit-keyframes scrollGood {
        0% {
            -webkit-transform: translate3d(-25px, -20px, 0);
            transform: translate3d(-25px, -20px, 0);
        }
        100% {
            -webkit-transform: translate3d(-25px, -650px, 0);
            transform: translate3d(-25px, -650px, 0);
        }
    }
    @keyframes scrollGood {
        0% {
            -webkit-transform: translate3d(-25px, -20px, 0);
            transform: translate3d(-25px, -20px, 0);
        }
        100% {
            -webkit-transform: translate3d(-25px, -650px, 0);
            transform: translate3d(-25px, -650px, 0);
        }
    }

    @-webkit-keyframes scrollGood-2 {
        0% {
            -webkit-transform: translate3d(-25px, -20px, 0);
            transform: translate3d(-25px, -20px, 0);
        }
        100% {
            -webkit-transform: translate3d(-25px, -320px, 0);
            transform: translate3d(-25px, -320px, 0);
        }
    }
    @keyframes scrollGood-2 {
        0% {
            -webkit-transform: translate3d(-25px, -20px, 0);
            transform: translate3d(-25px, -20px, 0);
        }
        100% {
            -webkit-transform: translate3d(-25px, -320px, 0);
            transform: translate3d(-25px, -320px, 0);
        }
    }

    .scroll--container {
        width: 300px;
    }

    .scroll--frosh {
        height: 1260px;
        width: 300px;
    }

    .scroll--commencement {
        height: 600;
        width: 300px;
    }

    .scroll--fall {
        height: 600;
        width: 300px;
    }

    .section {
        padding: 30px;
    }

    .footer ul {
        line-height: 1;
    }

    .footer li {
        float: left;
        margin: 5px;
    }

    .footer--break {
        display: block;
    }

    .scroll--container button {
        left: 17%;
    }
}
