.main {
    background-color: #f0ebe8;
    font-family: D-DIN;
}

.textOrange {
    color: #e87723 !important;
}

p {
    font-size: 0.7rem;
}

.customerButtons button {
    font-size: 0.7rem;
}

.orderBtn {
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    p {
        font-size: 1rem;
    }
    .customerButtons button {
        font-size: 1rem;
    }
    .orderBtn {
        font-size: 1rem;
    }
}
