.main {
    background-color: #f0ebe8;
    font-family: D-DIN;
}

.textOrange {
    color: #e87723 !important;
}

p {
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    p {
        font-size: 1.125rem;
    }
}
