.main {
    background-color: #f0ebe8;
    font-family: D-DIN;
}

.textOrange {
    color: #e87723 !important;
}

.responsiveText {
    font-size: 0.85rem;
}

@media (min-width: 768px) {
    .responsiveText {
        font-size: 1rem;
    }
}