nav {
  background-color: #ffffff;
  font-family: D-DIN;
}

.banner {
  height: 7vh;
}

.alert {
  font-size: 0.55rem;
}

.nav-item {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .nav-item {
    font-size: 1rem;
  }
  .alert {
    font-size: 0.8rem;
  }
}